.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 3px solid red;
  outline: none;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: cornflowerblue;
  color: whitesmoke;
}

.is-done {
  opacity: 0.5;
}